body {
      font-family: Helvetica, sans-serif;
      background-color: black;
    }

.credits
{
  font-family: serif;
  text-align: center;
  color: white;
  font-size: 28px;
}

.history
{
  font-family: serif;
  text-align: center;
  color: white;
  font-size: 18px;
}
