body {
      font-family: Helvetica, sans-serif;
      background-color: black;
    }

.credits
{
  font-family: serif;
  text-align: center;
  color: white;
  font-size: 28px;
}

.speech-bubble {
	position: center;
  text-align: center;
	background: #edf042;
	border-radius: .4px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #edf042;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}
