body {
      font-family: Helvetica, sans-serif;
      background-color: black;
      background-image: url("instructionsbackground.png");
    }

.instruct
{
  font-family: serif;
  text-align: center;
  color: white;
  font-size: 28px;
}

.gameplay
{
  font-family: serif;
  text-align: left;
  color: white;
  font-size: 18px;
}
